@import url("https://fonts.googleapis.com/css2?family=Dongle&family=IM+Fell+French+Canon+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Waterfall&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav img {
  width: 18vh;
  align-items: center;
  margin: 15px 60px;
  display: inline-block;
  line-height: 70px;
}
nav {
  width: 100%;
  height: 70px;
  background-color: rgb(240, 238, 238);
  position: sticky;
  top: 0;
  box-shadow: rgba(67, 67, 202, 0.42) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  z-index: 10;
}
nav ul {
  float: right;
  margin-right: 30px;
}
nav ul li {
  text-decoration: none;
  display: inline-block;
  line-height: 70px;
}
nav ul li:hover {
  color: #673de6;
  /* transform: translate(0px, -2px); */
  transform: scale(1.1);
}

nav ul span {
  color: #673de6;
}
nav ul i {
  font-size: 15px;
  padding: 2px;
  color: black;
}

nav ul a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 8px 20px;
  color: rgb(12, 2, 2);
  font-family: Dongle;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
}
#checkbtn {
  float: right;
  line-height: 70px;
  margin-right: 10px;
  font-size: 27px;
  color: black;
  display: none;
  font-weight: 900;
}
#check {
  display: none;
}
#check:checked ~ ul {
  left: 0%;
}

/* ! Responsive Nav Bar  */

@media screen and (max-width: 880px) {
  #checkbtn {
    display: block;
  }
  nav ul {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 70px;
    left: -100%;
    transition: 0.5s;
    background-color: #b0b0b3;
    backdrop-filter: blur(10px);
  }
  nav ul li {
    display: block;
    justify-items: center;
    text-align: center;
    font-size: 30px;
  }
  nav img{
    margin: 10px 37px;
    width: 15vh;
  }
}

/* ! Main-container-start */

.parent-container {
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Set column width to 200px minimum, and take up available space */
  gap: 5px; /* Add gap between grid items */
}

.child-text-container {
  justify-content: center;
  margin-top: 15%;
  margin-left: 10%;
  box-sizing: border-box;
}

.child-text-container h2 {
  font-family: Dongle;
  font-size: 50px;
}
.child-text-container h1 {
  font-family: Dongle;
  font-size: 80px;
  margin-top: -40px;
}
@media screen and (max-width: 880px) {
  .child-text-container h1 {
    font-size: 40px;
    padding-top: 15px;
  }
  .child-text-container h2{
    font-size: 30px; 
  }
  .child-text-container h3{
    font-size: 25px;
    padding-top: 10px;
  }
  
  .child-text-container span{
    font-size: 35px;
  }
  .child-text-container{
    margin-left: 4%;
    margin-right: 3%;
  }
  .typing {
    font-size: 10px;
  }
  
}
.child-text-container span {
  color: #673de6;
}
.child-text-container h3 {
  font-family: Dongle;
  font-size: 55px;
  margin-top: -45px;
}
.child-text-container p {
  font-family: "Philosopher", sans-serif;
  font-size: 23px;
  text-justify: inter-word;
  margin-top: -10px;
}
.typing {
  font-family: "Niconne", cursive;
  font-size: 37px;
}
.cv button {
  padding: 12px;
  width: 30%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: transform 300ms ease-out;
  margin-top: 15px;
}
.cv button:hover {
  box-shadow: rgba(105, 61, 230, 0.35) 0px 14px 28px,
    rgba(105, 61, 230, 0.12) 0px 10px 10px;
  transform: translate(0px, -6px);
}

@media screen and (max-width: 880px) {
  .cv button {
    width: 28%;
    padding: 9px;
    font-size: 10px;
  }
  .parent-container {
    gap: 20px;
  }
  
}

/* ! Property For image   */

.child-img-container {
  box-sizing: border-box;
  position: relative;
}
.child-img-container img {
  width: 85%;
  height: auto;
  margin-top: 4px;
  margin-left: 60px;
}
@media screen and (max-width:800px) {
  .child-img-container img{
    margin-left: 30px;
  }
  .child-text-container p{
    font-size: 20px;
  }
}
.child-icon-container0 {
  position: absolute;
  top: 8%;
  left: 27%;
  width: 5%;
  /* height: 100%; */
  opacity: 0;
  transform: translate3d(50px, 0, 0);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.child-img-container:hover .child-icon-container0 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.child-icon-container1 {
  position: absolute;
  top: 22%;
  left: 30%;
  width: 5%;
  /* height: 100%; */
  opacity: 0;
  transform: translate3d(30px, 0, 0);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.child-img-container:hover .child-icon-container1 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.child-icon-container2 {
  position: absolute;
  top: 32%;
  left: 20%;
  width: 7%;
  /* height: 100%; */
  opacity: 0;
  transform: translate3d(50px, 0, 0);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.child-img-container:hover .child-icon-container2 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.child-icon-container4 {
  position: absolute;
  top: 25%;
  left: 65%;
  width: 6%;
  /* height: 100%; */
  opacity: 0;
  transform: translate3d(-40px, 0, 0);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.child-img-container:hover .child-icon-container4 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.child-icon-container5 {
  position: absolute;
  top: 36%;
  left: 76%;
  width: 8%;
  /* height: 100%; */
  opacity: 0;
  transform: translate3d(-27px, 0, 0);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.child-img-container:hover .child-icon-container5 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.child-icon-container6 i {
  position: absolute;
  top: 10%;
  left: 63%;
  /* width: 9%; */
  font-size: 45px;
  color: #56d2f3;
  /* height: 100%; */
  opacity: 0;
  transform: translate3d(-50px, 0, 0);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.child-img-container:hover .child-icon-container6 i {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.child-icon-container7 {
  position: absolute;
  top: 75%;
  left: 20%;
  width: 7%;
  /* height: 100%; */
  opacity: 0;
  transform: translate3d(50px, 0, 0);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.child-img-container:hover .child-icon-container7 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.child-icon-container8 {
  position: absolute;
  top: 62%;
  left: 18%;
  width: 5%;
  /* height: 100%; */
  opacity: 0;
  transform: translate3d(50px, 0, 0);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.child-img-container:hover .child-icon-container8 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.child-icon-container9 {
  position: absolute;
  top: 71%;
  left: 83%;
  width: 5%;
  /* height: 100%; */
  opacity: 0;
  transform: translate3d(-38px, 0, 0);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.child-img-container:hover .child-icon-container9 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.child-icon-container10 {
  position: absolute;
  top: 48%;
  left: 20%;
  width: 5%;
  /* height: 100%; */
  opacity: 0;
  transform: translate3d(50px, 0, 0);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.child-img-container:hover .child-icon-container10 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.child-icon-container11 {
  position: absolute;
  top: 53%;
  left: 80%;
  width: 7%;
  /* height: 100%; */
  opacity: 0;
  transform: translate3d(-45px, 0, 0);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.child-img-container:hover .child-icon-container11 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.child-icon-container12 {
  position: absolute;
  top: 83%;
  left: 80%;
  width: 7%;
  /* height: 100%; */
  opacity: 0;
  transform: translate3d(-37px, 0, 0);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.child-img-container:hover .child-icon-container12 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.child-icon-container13 {
  position: absolute;
  top: 88%;
  left: 20%;
  width: 7%;
  /* height: 100%; */
  opacity: 0;
  transform: translate3d(50px, 0, 0);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.child-img-container:hover .child-icon-container13 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@media screen and (max-width:800px) {
  .child-img-container7{
    display: block;
  }
}

.parent-container2 {
  margin-top: 30px;
}
.heading {
  /* background-color: #673de6; */
  background-color: white;
  margin: auto;
  width: 50%;
  /* padding: 30px; */
  position: relative;
  z-index: 1;

  border-radius: 70px;
  box-shadow: rgba(105, 61, 230, 0.35) 0px 14px 28px,
    rgba(106, 61, 230, 0.302) 0px 5px 10px;
  color: #f0eeee;
  /* color: #000; */
}

@media screen and (max-width: 400px) {
   /* #main-heading{
    font-size: 40px;
   } */
  .vector-img{
    padding-left: 30px;
  }
  .heading h1{
    margin-top: -10px;
  }
 
}

.heading h1 {
  /* background-color:white; */
  text-align: center;
  font-family: "Waterfall", cursive;
  font-size: 60px;
  color: #000000;
}

.child-container2 {
  background-color: #000000;
  width: 100%;

  position: relative;

  margin-top: -43px;
  /* border: 20px solid white; */
  /* border-radius: 20px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(344px, 1fr));
  grid-gap: 0px;
  color: azure;
  padding: 53px 38px;
}
@media screen and (max-width:800px) {
  .child-container2{
    padding: 53px 18px;
  }
}
.vector-img img {
  width: 90%;
  margin: auto;
}

.vector-img img{
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
.vector-img img{
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.about-container {
  margin: 30px 8px;
}
.about-container h6 {
  font-size: 20px;
}
.about-container h2 {
  font-family: "Niconne", cursive;
  font-size: 35px;
  font-weight: 100;
}
.about-container span {
  color: #673de6;
  text-shadow: rgba(105, 61, 230, 0.35) 0px 14px 28px,
    rgba(105, 61, 230, 0.12) 0px 10px 10px;
}
.about-container p {
  /* word-spacing: 1px; */
  letter-spacing: 1px;
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
  padding-top: 10px;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #673de6;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
  border-radius: 10px;
}
.tab-links.active-link::after {
  width: 70%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #673de6;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
#connect i {
  font-size: 35px;
  padding-left: 20px;
  color: white;
  transition: transform 200ms ease-out;
}
#connect i:hover {
  transform: translate(0px, -11px);
}

.child-container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    background-color: #000000;

}
.achv{
    width: calc(25% - 30px);
    
    background-color:#673de6;
    color: #fff;
    text-align: center;
    font-size: 24px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 8px;
    transition: transform 200ms ease-out;
    
    
    
  
}






.achv:hover{
  transform: translate(0px, -10px);
  box-shadow: 1px 11px 51px -3px rgba(103,61,230,0.75);
  -webkit-box-shadow: 1px 11px 51px -3px rgba(103,61,230,0.75);
  -moz-box-shadow: 1px 11px 51px -3px rgba(103,61,230,0.75);
  
  
}

.achv i{
  font-size: 50px;
}
.achv h3{
  padding: 10px;
}
@media screen and (max-width: 880px) {
    .achv {
      width: calc(50% - 10px );
    }
    .child-container3{
      row-gap: 20px;
    }

  }
